<h1>Listing play_styles</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @play_styles.each do |play_style| %>
  <tr>
    <td><%= play_style.name %></td>
    <td><%= play_style.description %></td>
    <td><%= link_to 'Show', play_style %></td>
    <td><%= link_to 'Edit', edit_play_style_path(play_style) %></td>
    <td><%= link_to 'Destroy', play_style, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Play style', new_play_style_path %>
