<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @play_style.name %>
</p>

<p>
  <b>Description:</b>
  <%= @play_style.description %>
</p>


<%= link_to 'Edit', edit_play_style_path(@play_style) %> |
<%= link_to 'Back', play_styles_path %>
