<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :min_players %><br />
    <%= f.number_field :min_players %>
  </div>
  <div class="field">
    <%= f.label :max_players %><br />
    <%= f.number_field :max_players %>
  </div>
  <div class="field">
    <%= f.label :duration %><br />
    <%= f.number_field :duration %>
  </div>
  <div class="field">
    <%= f.label :genre_id %><br />
    <%= f.number_field :genre_id %>
  </div>
  <div class="field">
    <%= f.label :play_style_id %><br />
    <%= f.number_field :play_style_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
